{extends file="index.tpl"}
{block name="main"}
	<div class="title">Запрашиваемая вами страница не найдена</div>
	<form id="signup-form">
		<div style="font-size:200px; text-align:center">404</div>
	</form>
{/block}
