{extends file="index.tpl"}
{block name="main"}
	<div class="title">Логин или пароль были введены не правильно</div>
	<form action="auth.php" method="post">
		<input type="text" name="email" value="email"/><br/>
		<input type="password" name="password" value="password"/><br/>
		<input type="submit" value="Войти"/>
	</form>
{/block}
