body
{
	margin: 0px;
	font-family:Tahoma;
	background-color:#e6eaf0;
}
h1
{
	display: inline;
}

h3 {
    margin-top: 50px;
}
.tooltip {
    position: relative;
    background: #eaeaea;
    cursor: help;
    display: inline-block;
    text-decoration: none;
    color: #222;
    outline: none;
    text-indent: 0;
    padding: 0 3px;
}
.tooltip:hover:before {
    content: attr(data-title);
    white-space: pre-line;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 9999;
    width: 230px;
    margin-left: -127px;
    padding: 10px;
    border: 2px solid #ccc;
    opacity: .9;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
.tooltip:hover:after {
    content: "";
    position: absolute;
    z-index: 10000;
    bottom: 24px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #ddd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
}
/* Yellow */
.yellow-tooltip:hover:before {
    border-color: #e1ca82;
    background-color: #ffeaa6;
}
.yellow-tooltip:hover:after {
    border-top-color: #ffeaa6;
}

#header
{
	background-image:url("img/header-bg.png");
	width: 100%;
	padding: 0px;
	border-spacing:0px;
	height:128px;
}
#header a, #footer a
{
	color:white;
	font-weight:500;
}
#login
{
	padding:30px;
}
#footer
{
	text-align:center;
}
#footer-note
{
	background-color:#ff7404;
	color:white;
	text-align:center;
	padding:50px;
	margin-top:40px;
}

input.button
{
	background: #3f98e7; /* Old browsers */
	background: -moz-linear-gradient(top, #3f98e7 0%, #0c589c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f98e7), color-stop(100%,#0c589c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f98e7 0%,#0c589c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f98e7 0%,#0c589c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f98e7 0%,#0c589c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3f98e7 0%,#0c589c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f98e7', endColorstr='#0c589c',GradientType=0 ); /* IE6-9 */
	padding:5px 10px 5px 10px;
	border:none;
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.warning
{
	font-size: 12px;
	color:#991f04;
	font-family: verdana;
}
div.success
{
	font-size: 12px;
	color:#34c924;
	font-family: verdana;
}

#login-form input[type='text'],input[type='password']
{
	border:1px solid #cbcbcb;
	padding:5px;
	color:#908474;
}

input[type='submit']
{
	cursor:pointer;
}
a.delete
{
	font-size:12px;
	color:red;
}
a.display-contacts-link
{
	font-size:12px;
}
div.note
{
	font-size:11px;
	color:#666666;
}

#outer-navigation, #inner-navigation
{
	background-color: #3085d1;
	margin: 10px;
	padding:5px;
}
#inner-navigation a,#outer-navigation a
{
	margin-right:20px;
	color:white;
	font-size:12px;
}

.form-label
{
	float: left;
}
.form-input
{
	float: right;
}

#main-div
{
	margin: 10px;
	margin-bottom:20px;
	margin-top:20px;
	background-color:white;
}

tr.separator td
{
	border-bottom: 1px dotted #cccccc;
}

div.title
{
	border: none;
	padding: 5px;
	padding-left:10px;
	color:white;
	font-size: 14px;
	font-weight: bold;
	background-color: #3085d1;
}
div.title.alternative
{
	background-color: #ff7404;
}

/****************** signup form ********************/
#signup-form
{
	padding: 30px;
}
#signup-form table
{
	width: 100%;
}
#signup-form td
{
	padding:3px;
}
#signup-form .form-label
{
	width: 30%;
}
#signup-form input[type='text'],select
{
	width: 100%;
	font-size: 18px;
}

/****************** new cargo form ********************/
#cargo-form
{
	padding: 10px;
}
#cargo-form table
{
	width: 100%;
}
#cargo-form td
{
	padding:3px;
}
#cargo-form .form-label
{
	width: 20%;
}
#cargo-form input,select,textarea
{
	font-size: 18px;
}
#cargo-form select
{
	width:100%;
}
td.required
{
	font-weight:bold;
}
.location-selection
{
	background-color: #f0f0f0;
	padding:5px;
	margin-bottom:5px;
	border:1px dotted #cccccc;
}

/****************** cargo list ********************/
.add-to-favorites
{
	cursor:pointer;
}
#cargo-table
{
	font-family:Verdana;
	width:100%;
	border-spacing:0px;
}
#cargo-table td
{
	padding:5px;
	border-top:1px solid #cccccc;
}
.origin-destination
{
	font-size:12px;
	background-color:#cfcfcf;
}
.cargo-name
{
	color:#333333;
	font-size:14px;
	font-weight:bold;
}
td.delivery-dates
{
	white-space:nowrap;
	font-size:18px;
	color:#333333;
}
.cargo-price
{
	color:green;
	font-size:14px;
}
.cargo-contacts
{
	border:none;
	background-color:#3085d1;
	padding:10px;
	color:white;
	font-size:12px;
}
.cargo-contacts div
{
	display:inline;
}
.cargo-contact-name
{
	font-weight:bold;
	margin-right:10%;
}
.cargo-phones
{
	font-size:12px;
	float:right;
}
.display-contacts-link
{
	color:#353535;
}
#wrap {
   width:600px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}
form {
	background: #fafafa;
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ffe2e3;
}

form div {
	/* Float containment */
	overflow: hidden;
}

/* Things are looking good now, onto the main input field
styling now! */

/*
Lets change the box model to make the label and input
contain into the 100% div.

You might want to specify the box sizing properties inside
`* {}` at the top.

Things are looking great now! Lets just spice it up a bit.
*/
form label, form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:200px;
}

form label {
	font-weight: bold;
	background: linear-gradient(#f1f1f1, #e2e2e2);
	padding: 5px 10px;
	color: #444;
	
	border: 1px solid #d4d4d4;
	/* lets remove the right border */
	border-right: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	
	line-height: 1.5em;
	width: 30%;
	
	/* takes the width properly now and also the
	spacing between the label and input field got removed. */
	float: left;
	
	text-align: center;
	cursor: pointer;
}

/* The label is looking good now. Onto the input field! */

/*
Everything is broken now! But we can fix it. Lets see how.
*/
form input {
	width: 200px;
	padding: 5px;
	border: 1px solid #d4d4d4;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 4px;
	
	line-height: 1.5em;
	float: right;
	
	/* some box shadow sauce :D */
	box-shadow: inset 0px 2px 2px #ececec;
}
form input:focus {
	/* No outline on focus */
	outline: 0;
	/* a darker border ? */
	border: 1px solid #bbb;
}

/* Super! */
