{extends file="index.tpl"}
{block name="main"}
	<script type="text/javascript">
		$(document).ready(function(){
			$(".conditions-link").click(function(){
				$("#conditions-text").toggle();
			});
			{literal}
			function isValidEmailAddress(emailAddress)
			{
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    		return pattern.test(emailAddress);
    		}
			{/literal}
			$("#add-phone-link").click(function(){
				$(this).before('<div><input class="phone-input" type="text" name="phone[]" value="+7"/></div>');
			});
			$("input[name='signup_email']").blur(function(){
				if(!isValidEmailAddress($(this).val()))
				{
					$(this).after('<div class="warning">Электронный адрес выглядит не правильно. Убедитесь в его правильности, так как он будет использоваться для восстановления пароля и уведомлений</div>');
				}
			});
			$("input[name='signup_password']").blur(function(){
				if($(this).val().length<3) $(this).after('<div class="warning">Пароль короткий. В целях безопасности желательно использовать более длинный</div>');
			});
			$("input[name='password_again']").blur(function(){
				if($(this).val()!=$("input[name='signup_password']").val()) $(this).after('<div class="warning">Пароли не совпадают. Проверьте их правильность.</div>');
			});
			$("input[name='city']").blur(function(){
				if($(this).val().length==0) $(this).after('<div class="warning">Необходимо заполнить это поле.</div>');
			});
			$("input[name='name']").blur(function(){
				if($(this).val().length==0) $(this).after('<div class="warning">Необходимо заполнить это поле.</div>');
			});
			$(".phone-input").blur(function(){
				if($(this).val().replace(/ /g,'').length<11 || $(this).val().replace(/ /g,'').length>12) $(this).after('<div class="warning">Убедитесь, что вы ввели телефон корректно.</div>');
			});
		});
	</script>
	<div class="title">Регистрация учетной записи</div>
	<form id="signup-form" action="index.php?page=signup&action=do" method="post">
		{if $error=="input"}
			<div class="warning">К сожалению, вы допустили ошибку при заполнении формы. Пожалуйста, попробуйте заполнить ее еще раз.</div>
		{/if}
		<table>
			<tr>
				<td class="form-label">Электронный адрес<br/>(будет использоваться для входа в систему)</td>
				<td class="form-input">
					<input type="text" name="signup_email"/>
					{if $error=="emailexists"}<div class="warning">Такой адрес уже зарегистрирован</div>{/if}
				</td>
			</tr>
			<tr>
				<td class="form-label">Желаемый пароль</td>
				<td class="form-input"><input type="password" name="signup_password"/></td>
			</tr>
			<tr class="separator">
				<td class="form-label">Пароль еще раз</td>
				<td class="form-input"><input type="password" name="password_again"/></td>
			</tr>
			<tr>
				<td class="form-label">Страна</td>
				<td class="form-input">{html_options name="country" options=$countries_list selected=0}</td>
			</tr>
			<tr>
				<td class="form-label">Город или селение</td>
				<td class="form-input"><input type="text" name="city"/></td>
			</tr>
			<tr class="separator">
				<td class="form-label">Юридический статус</td>
				<td class="form-input">{html_options name="legal_statuses_list" options=$legal_statuses_list selected=0}</td>
			</tr>
			<tr>
				<td class="form-label">Ваше имя или наименование вашей организации</td>
				<td class="form-input"><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td class="form-label">Телефон(ы)</td>
				<td class="form-input">
					<div><input type="text" class="phone-input" name="phone[]" value="+7"/></div>
					<div><a id="add-phone-link" href="javascript:void(0)">Добавить еще телефон</a></div>
				</td>
			</tr>			
		</table>
		<br/>
		<div id="conditions-text" style="display:none; padding:10px; width:600px; height:600px; left:50%; top:50%; margin-left:-300px; margin-top:-300px; border:1px solid #cccccc; background-color:white; overflow:scroll; position:fixed; z-index:3">
			<div>


			<p style="margin-bottom:0pt;text-align:center;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">Пользовательское соглашение</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">Сайт <a href="http://avtoperevozki.kz" target="_blank">avtoperevozki.kz</a> (далее - &quot;Сайт&quot;) 
			представляет собой систему размещения 
			информации во всемирной сети Интернет 
			и содержит данные и сервисы, предоставляемые 
			Администрацией сайта и третьими лицами.</span></p>
			<p style="margin-top:5pt;margin-bottom:5pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">1. Понятия и термины, 
			используемые в соглашении</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">1.1. В целях настоящего Пользовательского 
			соглашения нижеприведенные понятия и 
			термины используются в следующем значении:</span></p>
			<p> </p>
			<ul style="list-style:disc">
			  <li style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">«</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">П</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">»</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> - </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">б</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">й</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т.</span></li>
			  <li style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">«</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">А</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">С</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">й</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">» - </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">б</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ч</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ч</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м <a href="http://avtoperevozki.kz" target="_blank">avtoperevozki.kz</a>.</span></li>
			</ul>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt"> <br>
			<span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">2. Общие положения</span></span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">2.1. Соглашение регулирует права и обязанности 
			Пользователя и Администрации сайта, а 
			также рекомендации по вопросам использования 
			материалов Сайта и использования охраняемых 
			законом прав интеллектуальной собственности 
			третьих сторон.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">2.2. Соглашение вступает в силу после прохождения 
			процедуры регистрации/перерегистрации 
			Пользователя на Сайте</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">2.3. В случае несогласия с условиями Соглашения, 
			использование Сайта Пользователем должно 
			быть прекращено.</span></p>
			<p> </p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">3. Услуги сайта</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">3.1. Администрация Сайта предоставляет 
			пользователям возмездные услуги по доступу 
			к информации Сайта.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">3.2. Сайт является средством для обмена 
			информацией между пользователями. Администрация 
			Сайта не несет ответственности за ее 
			достоверность и актуальность.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">3.3. Сайт может содержать ссылки на другие 
			интернет ресурсы. Пользователь признает 
			и соглашается с тем, что Администрация 
			Сайта не несет никакой ответственности 
			за доступность этих ресурсов, их содержание, 
			ровно как и за любые последствия, связанные 
			с использованием этих ресурсов.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">3.4. Размещение информации на Сайте разрешено 
			только зарегистрированным Пользователям, 
			зарегистрировавшим пароль и логин для 
			входа на Сайт. Пароль не может передаваться 
			другим лицам, и зарегистрированный Пользователь 
			полностью несет ответственность за весь 
			ущерб, причиненный ему, Администрации 
			Сайта или третьим лицам, возникший вследствие 
			намеренной или ненамеренной передачи 
			пароля другому лицу.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			4. Ответственность и обязательства Пользователя</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">4.1. Размещая информацию на Сайте, Пользователь 
			обязуется самостоятельно нести полную 
			ответственность за ее содержание.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">4.2. Пользователь обязуется соблюдать 
			законодательство Республики Казахстан 
			и <br>
			не нарушать прав третьих лиц.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">Пользователь несет всю <WBR>ответственность 
			за соблюдение авторских прав на предоставленную 
			им информацию и возмещает Администрации 
			все убытки, понесенные последней в случае 
			урегулирования претензий и споров с участием 
			третьих лиц, возникших в связи с нарушением 
			Пользователем авторских прав на предоставленную 
			им информацию.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">4.3. Администрация Сайта оставляет за 
			собой право удалять информацию, размещенную 
			Пользователем, если она противоречит 
			законодательству, правилам Сайта или 
			настоящему Соглашению. <br>
			4.4. При использовании Сайта Пользователям 
			запрещается размещать информацию о товарах 
			и услугах, расцениваемых действующим 
			законодательством Республики Казахстан, 
			как незаконные либо требующие специального 
			разрешения:</span></p>
			<p> </p>
			<ul style="list-style:disc">
			  <li style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а-</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ж</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ж</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ч</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">х</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">,</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">«</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">х</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">» </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">й</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ф</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">;</span></li>
			  <li style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ф</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ж</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ф</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> (</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">.</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ч</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">. </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ф</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ф</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ч</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">х</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">), </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">й</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> ,</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">;</span></li>
			  <li style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ш</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а (</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">щ</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">, </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ю</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">б</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">у</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">б</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">), </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ж</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">м</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ы</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">б</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">п</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">т</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">с</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">я </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">з</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">к</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">н</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">г</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">о</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">в</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">е</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">л</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ь</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">ц</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">а</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">и</span><span style="font-family:&#39;Arial&#39;;font-size:10pt"> </span><span style="font-family:&#39;Arial&#39;;font-size:10pt">д</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">р</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">.</span></li>
			</ul>
			<p> </p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">Запрещается осуществлять взлома 
			системы безопасности Сайта.</span></p>
			<p style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt"> <br>
			4.5. Пользователь также самостоятельно 
			несет ответственность за нарушение авторских 
			прав третьих лиц при использовании в 
			логине или личной подписи защищенной 
			законом информации и уникальной интеллектуальной 
			собственности.</span></p>
			<p style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">4.6. Пользователь самостоятельно 
			несет ответственность за безопасность 
			своего логина и пароля, а также за все, 
			что будет сделано на Сайте под его логином 
			и паролем.</span></p>
			<p style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">4.7. Пользователь признает, что 
			Администрация Сайта не обязана просматривать 
			всю публикуемую пользователями информацию, 
			ровно как и имеет право (но не обязанность) 
			по своему усмотрению отказать в размещении 
			или удалить любую информацию.</span></p>
			<p style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">4.8. Пользователь самостоятельно 
			оценивает все риски, связанные с использованием 
			информации, включая оценку ее надежности, 
			полноты или полезности.</span></p>
			<p style="margin-bottom:0pt;margin-left:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt"> <br>
			</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">5. Конфиденциальность</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">5.1. Личные данные Пользователя составляют 
			конфиденциальную информацию, не подлежат 
			разглашению, кроме предоставления доступа 
			к ним в случаях, предусмотренных законодательством 
			Республики Казахстан условиями, и не 
			могут быть переданы за плату или безвозмездно 
			третьим лицам без согласия Пользователя.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">5.2. Администрация Сайта использует различные 
			инструменты защиты личных данных Пользователя 
			от несанкционированного доступа либо 
			разглашения. Вместе с тем Администрация 
			Сайта не несет ответственности за действия 
			третьих лиц, которые осуществили неправомерный 
			доступ к конфиденциальной информации 
			о Пользователях.</span></p>
			<p> </p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">6. Ответственность Администрации</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold"> <br>
			</span><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.1. АдминистрацияСайта не несет ответственности 
			за неправомерные действия других Пользователей, 
			за повреждение программного обеспечения 
			Пользователя, возникшее в результате 
			использования Сайта.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.2. Администрация Сайта не несет ответственности 
			перед Пользователем за ущерб, убытки 
			или расходы, возникшие в связи с использованием 
			Сайта.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.3. Администрация Сайта не несет ответственности 
			за размещение на Сайте  другими пользователями 
			любой информации являющейся не законной, 
			оскорбительной, дискредитирующей или 
			непристойной.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.4. Администрация Сайта не несет ответственности 
			за публикацию пользователями информации 
			или материалов, нарушающих или посягающих 
			на права третьего лица (в т.ч. информацию 
			за публикацию которой, законодательством 
			Республики Казахстан предусмотрено уголовное 
			или гражданское преследование).</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.5. Администрация Сайта не несет ответственности 
			за достоверность информации предоставляемой 
			пользователями, ровно как и за последствия 
			в результате применения полученной Пользователем 
			информации (в т.ч. за любые прямые и непрямые 
			убытки, возникшие вследствие использования 
			Сайта);</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.6. Бездействие со стороны Администрации 
			Сайта, в случае нарушения Пользователем 
			положений настоящего Соглашения, не лишает 
			Администрацию Сайта права предпринять 
			соответствующие действия в защиту своих 
			интересов позднее;</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.7. Администрация Сайта имеет право запретить 
			использование определенных логинов и/или 
			изъять их из обращения.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.8. Администрация Сайта не гарантирует, 
			что программное обеспечение, сервер и 
			компьютерные сети, используемые <a name="0.6__GoBack"></a>
			Сайтом, свободны от ошибок и компьютерных 
			вирусов. Если использование Сайта повлекло 
			за собой утрату данных или порчу оборудования, 
			Администрация Сайта не несет за это ответственности.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.9. Администрация Сайта имеет право производить 
			профилактические работы в программно-аппаратном 
			комплексе Сайта с временным приостановлением 
			работы Сайта, уведомляя об этом Пользователя 
			за 12 часов до начала работ и указанием 
			сроков ее окончания. В случае наступления 
			форс-мажорных обстоятельств, а также 
			аварий или сбоев в программно-аппаратных 
			комплексах третьих лиц, сотрудничающих 
			с Администрацией Сайта, или действий 
			третьих лиц, направленных на приостановку 
			или прекращение функционирования Сайта, 
			возможна приостановка работы Сайта без 
			предварительного уведомления Пользователей.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt">6.10. Логотип, название, элементы дизайна, 
			оформления и общий внешний вид являются 
			собственностью Администрации Сайта, 
			и их использование без официального согласия 
			администрации запрещено.</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt"> <br>
			</span></p>
			<p style="margin-bottom:0pt;text-align:justify;line-height:11pt"><span style="font-family:&#39;Arial&#39;;font-size:10pt;font-weight:bold">Администрация Сайта вправе 
			изменять данное Соглашение и действующие 
			на Сайте правила, которые включают требования 
			к содержанию и условиям публикации объявлений, 
			без предварительного уведомления Пользователя.</span></p>

			</div>
			<a class="conditions-link" href="javascript:void()">С условиями согласен(на)</a>
		</div>
		<div>Регистрируясь в системе я принимаю <a href="javascript:void()" class="conditions-link">условия предоставления услуг</a></div>
		<div style="text-align:center"><input id="submit-signup" type="submit" value="Зарегистрироваться в системе" class="button"/></div>
	</form>
{/block}
