{extends file="index.tpl"}
{block name="title"}
	<div class="title">
		Подробная информация
	</div>
{/block}
{block name="main"}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
    <script type="javascript">
      var map, mapRoute;
      ymaps.ready(function() {
        map = new ymaps.Map('map', {
          center: [55.76, 37.64], 
          zoom: 12
        });
      });
      
      function createRoute() {
        // Удаление старого маршрута
        if (mapRoute) {
          map.geoObjects.remove(mapRoute);
        }
        var routeFrom = document.getElementById('route-from').value;
        var routeTo = document.getElementById('route-to').value;
        // Создание маршрута
        ymaps.route([routeFrom, routeTo], {mapStateAutoApply:true}).then(
          function(route) {
            map.geoObjects.add(route);
            document.getElementById('route-length').innerHTML = 'Длина маршрута = ' + route.getHumanLength();
            mapRoute = route;
          },
          function(error) {
            alert('Невозможно построить маршрут');
          }
        );
      }
    </script>
    <div>От: <input type="text" id="route-from" value="Москва, Белорусский вокзал" /></div>
    <div>До: <input type="text" id="route-to" value="Москва, Лефортово" /></div>
    <div><input type="submit" value="Построить маршрут" onclick="createRoute();" /></div>
    <div id="map"></div>
    <div id="route-length"></div>        
{/block}
	
