{if isset($transports)}
			<table id="cargo-table">
				<tr>
											<th>
												<strong>Даты погрузки и прибытия<br/>
													Откуда<img src="templates/images/arrow-right.png" style="width:10px; height:10px">Куда
												</strong>
											</th>
											<th><strong>Стоимость</strong></th>
											<th><strong>Тип транспорта<br/>Кол-во транспорта</strong></th>
											<th><strong>Грузоподъемность</strong></th>
											<th><strong>Объем и габариты</strong></th>
											<th><strong>Управление</strong></th>
										</tr>
				{foreach item="transport" key="id" from=$transports}
					<tr class="cargo-container">
						<!--{if isset($my_id)}
						<td class="favorite"><img class="add-to-favorites" cargoid="{$id}" src="templates/images/favorite_no.png" alt=""/></td>
						{/if}-->
						<td class="delivery-dates" style="width:250px;">
							{$transport.date_from|date_format:"%d.%m.%G"} &mdash; {$transport.date_due|date_format:"%d.%m.%G"}
							<div class="origin-destination">
								{foreach name="originsloop" item="origin" from=$transport.origins}
									<b>{$origin}</b>{if $smarty.foreach.originsloop.last}{else}{literal}, {/literal}{/if}
								{/foreach}
								<img src="templates/images/arrow-right.png" style="width:10px; height:10px">
								{foreach name="destinationsloop" item="destination" from=$transport.destinations}
									<b>{$destination}</b>{if $smarty.foreach.destinationsloop.last}{else}{literal}, {/literal}{/if}
								{/foreach}
							</div>
							<!--{if isset($my_id) && $my_id==$transport.account_id}<div><a href="index.php?page=mycargo&action=delete&id={$id}" class="delete">Удалить</a></div>{/if}-->
						</td>
						<td>
							<!--div class="cargo-name">{$transport.cargo_name}</div-->
							{if isset($transport.price)}<div class="cargo-price">Цена:{$transport.price} тенге</div>{/if}
						</td>
						<td style="text-align:center">
							<!--div>{$transport.transport_type}</div-->
							<table style="text-align:left;">
								<!--tr>
									<td><b>Марка: </b></td>
									<td>
										{if strlen($transport.brand)==0}
										0<br/>
										{else}
										{$transport.brand}<br/>
										{/if}
									</td>
								</tr>
								<tr>
									<td><b>Вид транспорта: </b></td>
									
									<td>
									{if strlen($transport.transports_mode)==0}
									0<br/>
									{else}
									{$transport.transports_modes}<br/>
									{/if}
									</td>
								</tr>
								<tr>
									<td><b>Тип транспорта: </b></td>
									<td>
									{if strlen($transport.transports_type)==0}
									0<br/>
									{else}
									{$transport.transports_type}<br/>
									{/if}
									</td>
									
								</tr>
								<tr>
									<td><b>Вместимость, машин: </b></td>
									<td>
									{if strlen($transport.capacity)==0}
									0<br/>
									{else}
									{$transport.capacity}<br/>
									{/if}
									</td>
									
								</tr>
								<tr>
									<td><b>Посадочных мест, шт.: </b></td>
									<td>
									{if strlen($transport.seats)==0}
									0<br/>
									{else}
									{$transport.seats}<br/>
									{/if}
									</td>
								</tr-->
								<tr>
									<td style='width:350px;'><b>Вид транспорта: </b></td>
									
									<td style='width:350px;'>
									{if strlen($transport.transports_mode)==0}
										Не указано<br/>
									{else}
										{$transport.transports_mode}<br/>
									{/if}
									</td>
								</tr>
								<tr>
									<td style='width:350px;'><b>Тип транспорта: </b></td>
									<td style='width:350px;'>
									{if strlen($transport.transports_type)==0}
										Не указано<br/>
									{else}
										{$transport.transports_type}<br/>
									{/if}
									</td>
									
								</tr>
								<tr>
									<td style='width:350px;'><b>Доп.инфо: </b></td>
									<td style='width:350px;'>
									{if strlen($transport.information)==0}
										Не указано<br/>
									{else}
										{$transport.information}<br/>
									{/if}
									</td>
									
								</tr>
								<tr>
									<td style='width:350px;'><b>Единиц транспорта в наличии:</b></td>
									<td style='width:350px;'>
									{if strlen($transport.car_amount)==0}
										Не указано<br/>
									{else}
										{$transport.car_amount}<br/>
									{/if}
									</td>
								<tr>
									<td style='width:350px;'><b>Перевозка негабаритного груза:<b></td>
									<td style='width:350px;'>
									{if $transport.notgabarite=="0"}Нет{else}Да{/if}
									</td>
								</tr>
							</table>
						</td>
						<td style="text-align:center">
							{if $transport.weight>0}{$transport.weight}т.{else}<div class="note">тоннаж<br/>неизвестен</div>{/if}
						</td>
						<td style="text-align:center">
							{if $transport.volume>0}{$transport.volume}м<sup>3</sup>.{else}<div class="note">обьем<br/>не задан</div>{/if}
							{if $transport.length>0 && $transport.width>0 && $transport.height>0}{$transport.length}м x {$transport.width}м x {$transport.height}м м{/if}
						</td>
						<td style="width:180px;">
							<div style="text-align:right;">
									<div id="cargo-contacts-{$id}" style="text-align:right;">
                                                                  {if (strlen($transport.contact_email)==0)}{$transport.contact_email="не указан" }{/if}
                                                                  <a href="#" class="tooltip yellow-tooltip edit" data-html="true" data-title="Имя: {$transport.contact_name}
                                                                  E-mail: {$transport.contact_email}; 
                                                                  {foreach item="phone" from=$transport.contact_phones}
                                                                  Телефон: {$phone}
                                                                  {/foreach}
                                                                  Нажмите для подробной информации"><img src="templates/images/phone.png" style="width:24px; height:24px;"></a>
                                                                  
                                                                  <a href="index.php?page=contacts&id={$id}" class="tooltip yellow-tooltip edit" data-html="true" data-title="Подробная информация
                                                                  Контактная информация
                                                                  Маршрут и расстояние
                                                                  Нажмите для подробной информации"><img src="templates/images/info.png" style="width:24px; height:24px;"></a>

									{if isset($my_id) && $my_id==$transport.account_id}
										<a href="index.php?page=mycargo&action=delete&id={$id}" class="tooltip yellow-tooltip delete" data-html="true" data-title="Удалить данный транспорт"><img src="templates/images/bin.png" style="width:24px; height:24px"></a>
										<a href="index.php?page=edittransport&action=edit&id={$id}" class="tooltip yellow-tooltip edit" data-html="true" data-title="Изменить данный транспорт"><img src="templates/images/pencil.png" style="width:24px; height:24px"></a>
									{/if}
									</div>
						</td>
					</tr>
				{/foreach}
			</table>
		{else}
			<div style="text-align:center">К сожалению, на данном направлении свободный транспорт отсутствует. Попробуйте, пожалуйста, повторить поиск немного позднее.</div>
		{/if}
